.container {
    margin: 20px auto;
    max-width: 760px;
    background: #ccc;
    border-radius: 5px;
}

.list {
    margin: 0;
    padding: 10px;
    text-align: left;
}

.list li {
    list-style: none;
}

.completed {
    text-decoration: line-through;
}

.pending {}